.dashboard
{
    text-decoration: none;
    color: gray;
    margin-right: 10px;
    font-size: 14px;
}

.dashboard:hover
{
    text-decoration: underline;
    color: grey;
}

.text
{
    color: gray;
    font-size: 14px;
}

.record
{
    color: black;
    text-decoration: none;
}

.record:hover
{
    color: black;
    text-decoration: underline;
}

.checkbox
{
    width: 1rem;
    height: 1rem;
}

.record-bg1
{
    background-color: rgb(172, 255, 47);
    color: green;
    text-align: center;
    width: 4rem;
}

.record-bg2
{
    background-color: rgba(255, 0, 0, 0.27);
    color: red;
    text-align: center;
    width: 5rem;
}

.last-record
{
    margin-left: 2rem;
}

.btn2
{
    border: 0;
}